*{
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
}

header
{
background-color:black;
color: white;
height: 100vh;
background-size: cover;
background-position: center;
background-image: url('../../../assets/image/background.jpg');
}


.title
{
  position: center absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
  color:#000;

}

.title h1
{
  color:#000;
  font-size: 80px;
  padding:10px;
}

.button
{
position: absolute;
top: 65%;
left:50%;
transform: translate(-50%, -50%);
}

.btn
{
  border: 1px solid #fff;
  padding: 50px 70px;
  color:#fff;
  text-decoration: none;
  transition:0.6s ease;
}
.btn:hover
{
  background-color: #fff;
  color: #000;
}
