*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	box-sizing: border-box;
	color: black;
background-image: url('../../../assets/image/background7.jpg');
background-size: cover;
background-attachment: fixed;
font-size: 40px;

}

#pgMainMenu{
background-color:black;
	color: white;
	background-size: cover;
	background-position: center;
}
#headerTitle{
	position: right;
	font-size: 90px;

	}

#bStartQuiz{
	height: 200px;
    width: 500px;
    font-size: 70px;
    padding: 50px;
    position: absolute;
	top: 45%;
	left:50%;
	transform: translate(-50%, -50%);
	background: black;
	color: white;

}
label {
	margin-left: auto;
    margin-right: auto;

}

input[type="radio"] {
	vertical-align: baseline;
margin-left: auto;
    margin-right: auto;



}

input[type="submit"] {
	border: none;
	background-color: blue;
	color: white;
	margin-left: auto;
    margin-right: auto;

}
 #options{
 	height: 200px;
    width: 500px;
    font-size: 70px;
    padding: 50px;
    position: absolute;
	top: 45%;
	left:50%;
	transform: translate(-50%, -50%);
	background-color:black;
	color: white;
	background-size: cover;
	background-position: center;


 }

 #question{
	margin-left: auto;
    margin-right: auto;
  font-style: bold;

 }
#bSubmitAnswer{
	text-decoration: none;
	color: black;
	padding: 15px 20px;
	border:1px solid black;
	transition:0.6s ease;
 margin: 0;
  position: absolute;
  top: 80%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
#bResetQuiz{
	text-decoration: none;
	color: black;
	padding: 15px 20px;
	border:1px solid black;
	transition:0.6s ease;
 margin: 0;
  position: absolute;
  top: 80%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
