*{
  font-family: xolonium;
  /* &src: url('/Users/riddhimakwana/heros/src/assets/fonts/Xolonium-Regular.ttf'); */
background-color:black;
color: white;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 1vh;
}
/*
#top-bar{
  position: fixed;
  top: 80px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 0px 15px 0px #ff2121;
  z-index: 10;
}

#top-bar *{
  padding: 20px 0px 20px 0px;
  text-decoration: none;
}

#top-bar *:hover{
  color: red;
}
/*
.anchor{
  display: block;
  height: 200px; /*same height as header
  margin-top: -200px; /*same height as header
  visibility: hidden;
}
*/

#data-container{
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: left;

  background-color: rgba(0, 0, 0, 0);

}

#image{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 30px;
  padding: 100px;
  align-items: center;
}

#fav_btn{
  margin-top: 30px;
  box-shadow: 0px 0px 15px 0px #ff2121;
  border-radius: 100%;
}

#detail-container{
  position: relative;
  width: 70%;
}

.detail-item{
  padding: 20px;
  width: 80%;
}

#stats-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

#stat-names{
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-right: 20px;
}

#stat-names span{
  display: block;
  padding: 15px;
  font-weight: bold;
}

#stat-bars{
  width: 80%;
}

.bar-container{
  background-color: rgba(0, 0, 0, 0);
  width: 60%;
  padding: 5px;
}

.bar{
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  transition-duration: 600ms;
}
